@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 137 9% 20%;
    --foreground: 210 40% 98%;
    --card: 140 9% 25%;
    --card-foreground: 210 40% 98%;
    --popover: 137 9% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 148 47% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 140 9% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 140 9% 30%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 179 51% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 140 9% 30%;
    --input: 140 9% 30%;
    --ring: 148 47% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 137 9% 20%;
    --foreground: 210 40% 98%;
    --card: 140 9% 25%;
    --card-foreground: 210 40% 98%;
    --popover: 137 9% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 148 47% 40%;
    --primary-foreground: 210 40% 98%;
    --secondary: 140 9% 30%;
    --secondary-foreground: 210 40% 98%;
    --muted: 140 9% 30%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 179 51% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 140 9% 30%;
    --input: 140 9% 30%;
    --ring: 148 47% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
